{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Chat</title>
    <link rel="stylesheet" href="{% static 'employees_rag/styles.css' %}">
</head>
<body>
    <div class="chat-container">
        <div class="chat-box" id="chat-box">
            <!-- Сообщения будут появляться здесь -->
        </div>
        <form class="chat-input" id="chat-form">
            {% csrf_token %}
            <input type="text" id="user-input" placeholder="Введите ваше сообщение...">
            <button type="submit">Отправить</button>
        </form>
    </div>
    <script src="{% static 'employees_rag/scripts.js' %}"></script>
</body>
</html>